<p>Hello, <%= @user.user_name %></p>

<p>We received a request to reset your password. Click the link below to choose a new password:</p>

<p><%= link_to 'Reset password', @forgot_password_url %></p>

<p>If you didn't request a password reset, please ignore this email. Your password won't change until you access the link above and create a new one.</p>